@font-face {
    font-family: 'bartnormal';
    src: url('fonts/Bart/bartn___-webfont.woff2') format('woff2'), url('fonts/Bart/bartn___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    cursor: url(images/wu-hands.png), default;
}

h1{
    font-family: 'bartnormal', serif;
    text-transform: uppercase;
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    h1 {
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
        padding-top: 25px;
        visibility: visible;
        word-spacing: 7px;
    }
}


#portrait {
    background: url(images/wu-tang-portrait-min.png) no-repeat;
    background-size: cover;
    float: left;
    position: relative;
    height: 900px;
    width: 100%;
    border: 1px solid #FFC600;
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    #portrait {
        border-bottom: 0px;
    }
}

#content {
    background-image: linear-gradient(180deg, #191919, rgba(255, 198, 0, 0.8));
    float: left;
    position: relative;
    height: 900px;
    width: 100%;
    border: 1px solid #FFC600;
    border-left: 0px;
}

@media screen and (max-width: 768px) {
    #content {
        border-left: 1px solid #FFC600;
    }
}

#logo {
    height: 180px;
    display: block;
    margin: 40px auto;
}

#desc {
    color: #FFC600;
    font-family: 'bartnormal', serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    word-spacing: 7px;
    margin: 40px auto;
}

hr {
    border: 1px solid #FFC600;
    width: 70px;
    margin: 40px auto;
}

select {
    display: block;
    margin: 0 auto;
    font-family: monospace;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 6px;
}

@media screen and (min-width: 768px) {
    select {
        border: 1px solid #FFC600;
    }
}

#lyrics-box {
    display: block;
    background-color: #FFFFFF;
    border: 1px solid #FFC600;
    margin: 40px auto;
    padding: 15px;
    height: 40%;
    width: 75%;
    overflow: auto;
}

#lyrics-output {
    font-family: monospace;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}